body{
    background-color: #d69c5a;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
h1{
    text-align: center;
}

header{
    background-image: url(banco.jpeg);
    padding: 5%;
}
h1{
    background-color: aquamarine;
}
section{
padding-left:5%;
padding-right: 5%;
padding-top:2%;
}